<div class="col-md-6">
	<%= form_for @user, class: "form-horizontal form-bordered" do |f| %>
		<div class="form-group">
	  	<label for="name" style="touch-action: none">Name:</label>
	  	<%= f.text_field :name, class: "form-control", autocapitalize: "off" %>
		</div>
    <div class="form-group">
      <label for="name" style="touch-action: none">Name:</label>
      <input type="email" class="form-control">
    </div>
	  <div class="form-group">
	    <label for="avatar" ondblclick="return;">Avatar:</label>
			<%= f.file_field :avatar, accept: "image/png, image/jpg, image/jpeg", class: "form-control-file border" %>
	  </div>

  <%= assets_ratio("sign-up-step-1", "png") %>

		<%= f.button "Save", class: "btn btn-primary" %>
	<% end %>
</div>
<script>
  $(document).dblclick(function(event) {
    event.preventDefault();
  });
  $(".js-partner-tel-format").attr("inputmode", "numeric");

	$(".js-partner-tel-format").on("keyup", function(e) {
    var value = $(this).val();
    var telFormated = formatTel("XXX-XXXX-XXXX", _.replace(value, /-/g, ""));
    var currentCursor = e.target.selectionStart;
    $(this).val(telFormated);
    if ($("#new-tel").length > 0) $("#new-tel").trigger("change");

    var allowCodes = [8, 46];
    if (_.inRange(e.keyCode, 48, 58) || _.inRange(e.keyCode, 96, 106) || _.includes(allowCodes, e.keyCode)) {
      if (currentCursor === value.length) return;
      if (!_.includes(allowCodes, e.keyCode) && telFormated.slice(currentCursor - 1, currentCursor) === "-") currentCursor += 1;
      $(this)[0].setSelectionRange(currentCursor, currentCursor);
    }
  })

  $(".js-partner-tel-format").on("keypress", function(e) {
    return isNumberKey(e);
  })

  function isNumberKey(evt) {
	  var charCode = (evt.which) ? evt.which : event.keyCode;

	  return (charCode >= 48 && charCode <= 57);
	}

	function removeNonNumber($this) {
	  $this.value = $this.value.replace(/[^0-9]+/g, "");
	}

  function formatTel(mask, value) {
    var arrFormats = mask.split("-");
    var sliceStart = 0;
    var arrTels = _.map(arrFormats, function(format, index) {
      if (index === 0) return value.slice(0, format.length)
      else {
        sliceStart += arrFormats[index - 1].length;
        var sliceEnd = format.length + sliceStart;
        return value.slice(sliceStart, sliceEnd);
      }
    })
    return _.compact(arrTels).join("-");
  }
</script>
